{% extends 'base.html' %}
{%load static%}
{% load crispy_forms_tags %}

{% block title %}Confirmation - Hassan Ibrahim Gwarzo Secondary Schools {% endblock %}

{% block content %}
<section class="hero is-primary"  style="background:#3F51B5;">
    <div class="hero-body">
      <div class="container">
        <img src="{% static "images/logo.png" %}" alt="logo.png" style=" display:block; margin: 0 auto; width: 200px;"/>
        <h1 class="title" style="text-align: center;">
        Admission Payment Successful         
        </h1>
        <br>
        <h2 class="subtitle" style="text-align: center;">
        </h2>
        <p style="text-align: center;">We have received your payment.</p>
        <br><br>
        <h4 class="subtitle" style="text-align: center;">We shall send the details of the entrance test to your email </h4> 
        <h4 class="subtitle" style="text-align: center;">Thank you for applying to Hassan Ibrahim Gwarzo Secondary Schools(HIGSS).</h4> 

        <p class="subtitle" style="text-align: center;">For any enquiries kindly contact us at:  </p>
        <p class="subtitle" style="text-align: center;">08030000000</p>
        <a href="https://www.higss.sch.ng" style="display: block; text-align: center; margin: 0 auto;" type="submit" class="btn btn-success" >Proceed to our website</a>
        <br>
      </div>
    </div>
  </section>
{% endblock %}