<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Make Payment</title>
    <script src="https://js.paystack.co/v1/inline.js"></script>
    <script>
        function payWithPaystack() {
            var amount = 1000;
            var handler = PaystackPop.setup({
                key: 'pk_test_3ffa7fee625fe7dd52aa8a24cb4a6f8e7c4fa16f',
                email: "{{ email }}",
                amount: amount * 100,
                currency: "NGN",
                ref: '' + Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
                metadata: {
                    custom_fields: [
                        {
                            display_name: "Mobile Number",
                            variable_name: "mobile_number",
                            value: "+2348012345678"
                        }
                    ]
                },
                callback: function (response) {
                    // alert('success. transaction ref is ' + response.reference);
                },
                onClose: function () {
                    // alert('window closed');
                }
            });
            handler.openIframe();
        };
    </script>
</head>


<body onload="payWithPaystack();">


</body>

</html>