{% extends 'base.html' %}
{% load static%}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<section class="hero is-primary" style="background:#fff;">
		<div class="hero-body">
			<div class="container">

			<img src="{% static "images/logo.png" %}" alt="F84xZ.png" style="background:#fff; display:block; margin: 0 auto; width: 200px;"/>


				<h1 class="title" style="text-align: center; color:#3F51B5;">
					Create an account
				</h1>
				<h2 class="subtitle" style="text-align: center; color:#3F51B5;">
					Create an account to login and apply.
				</h2>
			</div>
		</div>
	</section>
	
	<br>
	<div class="container" style="width: 50%; min-width: 200px; max-width: 500px;">
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Sign up</button>
  </form>
  <br>
		<div class="control">
			<a href="{% url 'login' %}"><button class="button is-text">Go to Login</button></a>
		</div>
	</div>

{% endblock %}