{% extends 'base.html' %}
{%load static%}
{% load crispy_forms_tags %}

{% block title %}Payment Successful - Hassan Ibrahim Gwarzo Secondary Schools{% endblock %}

{% block content %}
<section class="hero is-primary"  style="background:#3F51B5;">
    <div class="hero-body">
      <div class="container">
          <img src="{% static "images/logo.png" %}" alt="logo.png" style=" display:block; margin: 0 auto; width: 200px;"/>
        <h1 class="title" style="text-align: center;">
          Payment Successful        
        </h1>
        <br>
        <br>
      </div>
    </div>
  </section>
{% endblock %}